[Unit]
Description=<%= service_name %> network-environment
After=local-fs.target <%= network_environment_service_after %>

[Service]
Type=oneshot
ExecStart=<%= scripts_dir %>/deploy-network-environment
User=<%= app_user %>
Group=<%= app_group %>
RuntimeDirectory=<%= runtime_directory %>
RuntimeDirectoryMode=<%= runtime_directory_mode %>

[Install]
WantedBy=multi-user.target
