[Unit]
Description=<%= service_name %> restarter
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl restart <%= service_name %>.service
Environment=DEPLOY_DIR=<%= deploy_dir %>

[Install]
WantedBy=multi-user.target
